<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thlws.springcloud.gateway.internal.core.mapper.ApiAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.thlws.springcloud.gateway.internal.core.model.ApiAuth">
        <id column="id" property="id" />
        <result column="path" property="path" />
        <result column="auth" property="auth" />
        <result column="http_method" property="httpMethod" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, path, auth, http_method, create_time
    </sql>

</mapper>
