<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thlws.springcloud.gateway.internal.core.mapper.ExportApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.thlws.springcloud.gateway.internal.core.model.ExportApi">
        <id column="id" property="id" />
        <result column="service_name" property="serviceName" />
        <result column="service_path" property="servicePath" />
        <result column="status" property="status" />
        <result column="auth" property="auth" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, service_name, service_path, status, auth, create_time
    </sql>

</mapper>
